/* Let's set the font */

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* Taking away the underlines */
a {
	text-decoration: none;
}

.menu .category.popup {
	min-width: 400px;
  	max-width: 9999px;
}

.ui.shape.square .side {
	text-align: center;
	font-size: 46px;
	line-height: 80px;
	width: 100px;
	height: 100px;
}